* {
  font-family: Arial, Helvetica, sans-serif;
margin: 0;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(images/icelandicroad.jpg);
}

#topBar {
  background-color: rgb(20, 69, 99);
  color: white;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  padding: 10px;
  position: fixed;
  width: 100%;
}

#topBar #topNav li {
  display: inline-block;
  float: right;
  padding: 15px 20px 0px 10px;
  /*height: 100%;*/
}

#topBar #topNav li:hover {
  background-color: rgb(0,0,0);
  /*height: 100%;*/
}

#topInfo {
  float: left;
  text-align: left;
  width: 40%;

}

#aboutMe {
  padding: 120px 10px 0px 0px;
  color: white;
  text-align: center;
}

.mainContainers {
color: black;
background-color: white;
padding: 20px;
}

.divider {
  text-align: center;
  padding: 100px;
  color: white;
}

.job {
  padding: 10px;
}
